<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="navbar nav-wrap navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href=""> Project Management System</a>
        </li>
        <li<%= (page === "home") ? " class=active" : "" %>><a href=""> <span class=""></span> Home<% if(page === "home"){%> <% } %></a></li>
        <li<%= (page === "project") ? " class=active" : "" %>><a href="/projects"> <span class=""></span> Projects<% if(page === "project"){%> <% } %></a></li>
        <li<%= (page === "profile") ? " class=active" : "" %>><a href="/users/profile"><span class=""></span> Profile<% if(page === "profile"){%>  <% } %></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Sign out</a>
        </ul>
      </li>
    </ul>
  </div>
</div>
</nav>

<div class="container" style="float: left; height: 20%">
  <div class="jumbotron">
    <h2>Welcome, <b> <%= user.firstname + user.lastname %></b></h2>
    <p>Your email : <b><%= user.email %></b></p>
    <p>You are login as : <b><%= user.privilege %></b></p>
  </div>
</div>
</body>
